mixin reserve-list-item(reserve)
  li(class="reserve-list-item")
    a(class="reserve-url" href=reserve.getString("uri") target="_parent") #{reserve.getString("title")}
    if (reserve.getString("primaryContributor"))
      span  - #{reserve.getString("primaryContributor")}

ul(class="lti-course-reserves-list")
  each reserve in reserves
    +reserve-list-item(reserve)

include Styles.jade

